<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>721105407584-45oqds00jvomakoj32rcrhunnhdh70vo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB254W0vRm3-ZK0wflBcNktkWCGuyFr_OA</string>
	<key>GCM_SENDER_ID</key>
	<string>721105407584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.propertyhero.app</string>
	<key>PROJECT_ID</key>
	<string>property-hero-460a8</string>
	<key>STORAGE_BUCKET</key>
	<string>property-hero-460a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721105407584:ios:7ec3447d20e11368853d05</string>
	<key>DATABASE_URL</key>
	<string>https://property-hero-460a8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>